/* ------------------------------------------------------------ *\
  error
\* ------------------------------------------------------------ */

.error {
  color: #eb3417;
  text-align: left;
  font-size: 13px;
  line-height: 1.2;
}