/* ------------------------------------------------------------ *\
  Card
\* ------------------------------------------------------------ */

.card {
  border-radius: 10px;
  border: 2px solid rgb(170, 170, 170);
  padding: 15px;
}