/* ------------------------------------------------------------ *\
  nav
\* ------------------------------------------------------------ */

.nav {
  color: #fff;

  ul {
    display: flex;
  }

  li {
    padding: 5px 10px;
  }
}